################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.CopyComplete
*.cache
/TrainLibrary/.vs/TrainLibrary/v15/Server/sqlite3
*.suo
/IOLibrary/.vs/IOLibrary/v15/Server/sqlite3
/IOLibrary/.vs/IOLibrary/v15/Server/sqlite3
/IOLibrary/.vs/IOLibrary/v15/Server/sqlite3
